

// Override default font
$font-family: 'Futura';
$font-family-fancy:'Helvetica';

$theme-color: #fb9b5f;
$text-color: (
  light: #000000,
  dark: #ffffff,
);
$bg-color: (
  light: #ffffff,
  dark: #000000,
);
